Adafruit-DHT==1.4.0
certifi==2020.12.5
chardet==4.0.0
crypto==1.4.1
idna==2.10
Naked==0.1.31
numpy==1.19.5
pycryptodome==3.9.9
PyYAML==5.4
requests==2.25.1
RPi.GPIO==0.7.0
shellescape==3.8.1
urllib3==1.26.2
