[Unit]
Description= Temperatura e umidade.

[Service]
Type=simple
ExecStart= /home/pi/Documents/exercicio-python/SENSORES/startRegistro.sh start


[Install]
WantedBy= multi-user.target



